.welcomeback{
    margin-left: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    color: #234660;
}
.schedule{
    margin-left: 20px;
    position: absolute;
    border: 4px solid #234660;
    border-radius: 5px;
    width: 600px;
    height: 510px;
}
.catelog{
    position: absolute;
    border: 4px solid #234660;
    right: 500px;
    border-radius: 5px;
    width: 730px;
    height: 510px;
    left: 660px;
}
.button{
    position: fixed;
    top: 90px;
}
